.productos-section-top{

    .productos-title {
        @include tamano(600,1.6rem);
        text-align: center;
        margin: 3rem;

        p {
            font-family: 'Handlee', cursive;
            color: #000000;
            font-size: 1rem;
            margin: 2rem;
        }
    }

    .productos{
        padding: 8rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;

        .producto{
            flex: 1;
            display: flex;
            align-items: center;
            @include flex (column,center);


            img{
                width: 300px;
            }

            h3{
                @include tamano(400,1rem);
            }

            a{
                @extend %botones;
                }
        }
    }
}