@media screen and (max-width: 600px) {

    /* --------INDEX--------- */
    .header, .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
