@media screen and (max-width: 1024px) {

    /* --------INDEX--------- */
.section-content-image{
        display: flex;
        align-items: center;
    }

    .summer{
        display: flex;
        flex-direction: column;
        padding: 0;

        .titles{
            padding-bottom: 2rem;

            h2{
                margin-top: 1rem;
            }
        }
        .cards{
            display: flex;

            .card{
        
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .7rem;
                margin-bottom: 1rem;

                img{
                    max-width: 100%;
                }
                h3{
                    font-size:.8rem;
                    text-align: center;
                }
                p{
                    font-family:Helvetica, sans-serif;
                    width: 75%;
                    text-align: center;
                }
                a{
                    background-color: #fba060;
                    padding: .60rem .75rem;
                    color: white; 
                    font-size: .8rem;
                    text-decoration: none; 
                    border-radius: 0.5rem;
                    text-align: center;
                }
            }
        }
    }

        /* --------Productos--------- */
.productos-section-top{
    .productos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.8rem;
        padding: 0;
    }
}

    /* --------Footer--------- */
.footer{
    .footer-top{
        h4{
        font-size: 2rem;
        margin: 1rem 0;
    }
}
}
}